.navigation-links-nav {
  flex: 0 0 auto;
  display: flex;
  align-items: center;
  flex-direction: row;
}
.navigation-links-text {
  color: #ffffff;
}
.navigation-links-text1 {
  color: #ffffff;
  margin-left: var(--dl-space-space-twounits);
}
.navigation-links-text2 {
  color: #ffffff;
  margin-left: var(--dl-space-space-twounits);
}
.navigation-links-text3 {
  color: #ffffff;
  margin-left: var(--dl-space-space-twounits);
}









